.layout {
  margin: 0 auto;
  padding: 0 10%;
  max-width: auto;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 300px 2fr;
}

.content {
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}

@media (max-width: 780px) {
  .layout {
    grid-template-columns: 80px 1fr;
  }
}